@media(max-width:900px){
    .display_1{
        width: 400px;
        height: 475px;
        margin-top: 20px;
    }
    
}
@media(max-width:800px){
    .display_1{
        width: 350px;
        height: 425px;
        margin-top: 40px;
    }
    .latter{
        margin: 5px;
    }

}
@media(max-width:650px){
    section{
        height: 95%;
        width: 90%;
        flex-direction: column;
        justify-content:flex-start;
        background: linear-gradient(179deg, #FFF 33%, rgba(255, 221, 221, 0.00) 118.36%);
    }
    .button{
        width: auto;
        height: 50%;
    }
    .gif{
        width: auto;
        height: 50%;
    }
    .gif_box{
        height: 100%;
        width: 100%;
    }
    .display_1{
        width: 220px;
        height: 250px;
        margin-top: 30px;
        border-radius: 40px;
    }
    .btn_container{
        width: 100%;
        height: 100%;
        justify-content: start;
    }
    .btns{
        width: 90%;
        flex-direction: row-reverse;
    }
    .latter {
        width: 38px;
        height: 38px;
        margin: 5px;
        font-size: 17px; 
    }
    .menubar{
        margin-left: 18px;
        margin-top: 20px;
    }
    .heading {
        width: 95px;
        height: 25px;
        margin-bottom: 10px;
    }
    .menu_items {
        height: 94%;
        width: 60%;
    }
}
@media(max-width:460px){
    .btns{
        max-width: 300px;
    }
    .latter{
        width: 35px;
        height: 35px;
    }
    .menu_items a {
        padding: 5px 60px;
    }
}
@media(max-width:350px){
    section{
        width: 95%;
    }
    .latter{
        margin: 3.5px;
        width: 33px;
        height: 33px;
        border-radius: 1px solid white;
        font-size: 15px;
    }
    .heading{
        border-bottom: 10px;
    }
    .btns{
        height: 75%;
        max-width: 285px;
    }
    .menu_items a {
        padding: 5px 50px;
        font-size: 20px;
    }
       
}