@media(max-width:1200px){
    .part1 img{
        width: 350px;
        height: 400px;
    }
    .buttons{
        height:70px ;
        width:70px ;
        font-size:20px;
    }
}
@media(max-width:1000px){
    .part1 img{
        width: 300px;
        height: 350px;
    }
    .buttons{
        height:50px ;
        width:50px ;
        font-size:18px;
    }
    .container_b{
        margin: 0px 45px;
    }
}
@media(max-width:800px){
    .part1{
        width: auto;
        height: auto;
    }
    .part2{
        width: auto;
        height: auto;
    }
    .part1 img{
        width: 300px;
        height: 350px;
    }
    .buttons{
        height:50px ;
        width:50px ;
        font-size:15px;
        margin: 10px;
    }
    .container_b{
        margin: 0px 75px;
    }
}
@media(max-width:600px){
    .part1{
        width: auto;
        height: auto;
    }
    .part2{
        width: auto;
        height: auto;
    }
    .part1 img{
        width: 250px;
        height: 300px;
    }
    .buttons{
        height:40px ;
        width:40px ;
        font-size:14px;
        margin: 5px;
    }
    .container_b{
        margin: 0px 50px;
    }
    @media(max-width:450px){
        .part1{
            width: auto;
            height: auto;
        }
        .part2{
            width: auto;
            height: auto;
        }
        .part1 img{
            width: 250px;
            height: 300px;
        }
        .buttons{
            height:40px ;
            width:40px ;
            font-size:14px;
            margin: 7px;
        }
        .container_b{
            margin: 0px 10px;
        }
    }
}