@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Noto+Naskh+Arabic&family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}
a{
    text-decoration: none;
}

/*////////////FIrst page////////////*/
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background{
    width: 100%;
    height: 100dvh;
    background-color: #FFEAD0;
    background-image: url(Files/bc_img.png);
    background-size: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
section{
    width: calc(570px * 1.8);
    height: 570px;
    border-radius: 29px;
    background: linear-gradient(98deg, #FFF 30%, rgba(255, 221, 221, 0.00) 118.36%);
    box-shadow: 17px 34px 85px -13px rgba(255, 255, 255, 0.80), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 37px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    margin: 3px;
}
.gif{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gif_box{
    width: 85%;
    height: 90%;
}

.display_1{
    width: 425px;
    height: 505px;
    border: none;
    border-radius: 75px;
}
.menubar{
    width: 30px;
    height: 30px;
    background-image: url(Files/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
}
.button{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_items{
    height: 560px;
    width: 310px;
    position: absolute;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.63);
    background: linear-gradient(160deg, #F4F4F4 3.47%, rgba(244, 244, 244, 0.00) 106.93%);
    backdrop-filter: blur(5.5px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_items h1{
    font-family: 'Italiana', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 10px;
}
.menu_items a{
    border-radius: 12px;
    background: inherit;
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 24px;
    color: black;
    padding: 5px 70px;
    margin-bottom: 10px;
}
.menu_items a:hover{
    border: 2px dotted black;
}
.btn_container{
    width: 90%;
    height: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    width: 158px;
    height: 41px;
    background-image: url(Files/مَخَارِجُ\ الْحُرُوفِ.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px
}
.btns{
    width: 340px;
    height: calc(100% - 105px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.latter{
    text-decoration: none;
    border-radius: 11px;
    border: 2px solid #FFF;
    background: #00A651;
    box-shadow: 4px 5px 9px 0px rgba(0, 0, 0, 0.30), -4px -3px 8px 0px rgba(255, 255, 255, 0.57);
    height: 48px;
    width: 48px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-family:'Inter';
}
.latter:hover{
    background-color: #018a43;
}
.latter:active{
    transform: scale(0.96);
}

/*/////////INSTAL BUTTON////////*/

#install-button {
    display: none;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


/* /////////////page Library//////////////////////// */

.Text_container{
    width: 85%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Text_container h1{
    font-size: 25px;
    text-decoration: underline;
    font-weight: 100;
}
/* .Text_container p{ 
    text-align: justify;
} */
#textAudio{
    width: 100%;
}

/* audio::-webkit-media-controls-timeline {
    color: #ffffff;
  } */